@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
}
:root{
  --red: #D01C28;
  --gray: #2E2E2E;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.container{
  width: 90%;
  margin: 0 auto !important;
}

/* Navigation Section */
.logo img{
  width: 72px;
  height: auto;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.nav-item-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 24px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray);
  cursor: pointer;
}
.btn{
  all: unset;
  height: 25px;
  width: auto;
  padding: 6px 28px;
  background-color: var(--red);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


/* ***********main section************ */
.hero-section{
  margin-top: 20px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hero-content h1{
  font-size: 90px;
  line-height: 84px;
  color: var(--gray);
  max-width: 550px;
}
.hero-content p{
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
  font-weight: 500;
  max-width: 400px;
  margin: 10px 0px;
}
.hero-btn{
  display: flex;
  gap: 40px;
}
.hero-btn .btn{
  font-size: 24px;
  height: 25px;
  width: auto;
  padding: 4px 11px 15px 12px;
  border: 2px solid var(--red);
}
.grayStyle{
  background-color: transparent;
  color: var(--gray);
  border: 2px solid var(--gray) !important;
}
.get-products p{
  font-size: 16px;
  color: var(--gray);
}
.brand-icons{
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .hero-content h1{
    font-size: 58px;
    line-height: 76px;
  }
  .nav-item-container{
    display: none;
  }
  .brand-image img{
    width: 353px;
  }
}
@media screen and (max-width: 1024px){
  .hero-section{
    margin-top: 110px !important;
  }
  .hero-content p{
    margin: 58px 0px;
  }
  .hero-content h1{
    font-size: 100px;
    line-height: 105px;
  }
  .get-products p {
    margin: 56px 0px 8px 0px !important;
  }
  .nav-container{
    margin-top: 20px !important;
  }
}





/* ===================== New project ======================*/
.app{
  background-color: lightgray;
  /* height: 100vh; */
}
.bi-caret-left{
  font-size: 20px !important;
}
.text-gray{
  color: gray;
}
.fs7{
  font-size: 13px;
}
.mob p.ms-3{
  margin-top: 0 !important;
}
.font-bold{
  font-weight: bold;
}
.sltBox{
  width: 100px;
  height: 20px;
  
}
.brandBox{
  align-items: center !important;
}
.form-check-input:hover, .form-check-label:hover{
  cursor: pointer;
}